@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');

@layer base {
    body{
        @apply font-[Rosarivo];
    }

    li{
        @apply px-4;
        @apply cursor-pointer;
    }
}

@layer utilities {
    .line-clamp-2 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
    
    .line-clamp-3 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }
}

@layer utilities {
    .line-clamp-2 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    
    .line-clamp-3 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 350px;

}

.content-div:hover{
    background-image: linear-gradient(
        to right,
        #ffdede,
        #90d0d1
    )!important;

    /* background-color: rgba(255, 255, 255, 0.4)!important;
    -webkit-backdrop-filter: blur(5px)!important;
    backdrop-filter: blur(5px)!important; */
    /* background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); */
}

.content-div2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 350px;

}

.about {
    -webkit-clip-path: polygon(0 4%, 100% 13%, 100% 100%, 0% 100%);
    clip-path: polygon(0 4%, 100% 13%, 100% 100%, 0% 100%);
}